<template name="Header">
  <div class="ui inverted vertical masthead center aligned segment" style="padding-right: 5px">
    <div class="ui equal width grid">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column">
        <div class="ui secondary topmenu menu">
          {{#if  $not currentUser}}
          <div class="fluid ui inverted floating simple dropdown button" style="color: whitesmoke">Nogin
            <i class="dropdown icon"></i>
            <div class="menu">
          <div class="item">{{> Login_Form}}</div>
          </div>
        </div>
          {{else}}
            <div class="fluid ui inverted floating button" style="color: whitesmoke">
              <h2 style="color: whitesmoke">{{Meteor.userId}}</h2>
            </div>
            <div class="fluid ui inverted floating button" style="color: whitesmoke">
              <a class="logout" style="color: whitesmoke">Nogout</a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  <script>
    $('.ui.dropdown')
        .dropdown()
    ;
  </script>
  </div>
</template>