.topmenu.menu {
  box-shadow: none;
  border: none;
}
.fontsize {
  font-family: HACKED;
  color: whitesmoke;
  font-size: 12rem;
}
.fontsize.umain {
  font-family: HACKED;
  color: whitesmoke;
  font-size: 7rem;
}
.textpad {
  padding-right: 100px;
  padding-top: 170px;
  padding-left: 100px;
}
.bott {
  padding-top: 50px;
  padding-bottom: 50px;
}
